#historico {
  display: flex;
  flex-direction: row;

}

.columna-izquierda {
  flex: 2;
  display: flex;

}

.columna-izquierda img {
  max-width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.columna-derecha {
  flex: 2;
  overflow-y: auto;
  margin-top: 50px;
  margin-left: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.columna-derecha h2,
h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);

}

.columna-derecha p {
  font-size: 20px;
}

.columna-derecha ul {
  margin-top: 10px;
  border: solid 4px;
  border-color: rgb(29, 28, 28);
  border-radius: 10px;
  display: grid;
  gap: 5px;
  
}

.columna-derecha li {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}


@media (max-width: 499px) and (min-width: 300px ) {
  #historico {
    flex-direction: column;
  }

  .columna-izquierda img{
    margin-left: 5px;
  }
  .columna-derecha{
    margin-left: 5px;
    margin-top: 10px;
  }
}


@media (max-width: 800px) and (min-width: 500px ) {
  #historico {
    flex-direction: column;
  }
  .columna-izquierda img{
    margin-left: 5px;
  }
  .columna-derecha{
    margin-left: 5px;
  }
  
}